body {
    width: 380px;
    height: 200px;
}
#Report {
    float: right;
}
#delete {
    float: right;
    margin-left: 8px;
}

#gpaList {
    list-style-type:none;
    margin: 5px;
    padding-left: 10px;
}
.logo1 {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 60px; 
    height: auto;
  }
  .logo2 {
    position: absolute;
    top: 10%;
    right: 20px;
    width: 60px; 
    height: auto;
  }
  .tableClass {
    width: 98%;
  }